@font-face {
  font-family: 'SourceCodePro';
  src: url("fonts/SourceCodePro-Black.ttf") format("truetype"); }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%; }

::selection {
  background-color: #00b7ee;
  color: #fff; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

#container {
  font-family: 'microsoft Yahei';
  min-height: 100%;
  padding-bottom: 150px; }

article {
  line-height: 1.1; }
  article blockquote {
    margin: 0;
    padding: 3px 15px;
    color: #3b3c40;
    border-left: 5px solid #558abb;
    background: #dde4e9; }
  article h1 {
    text-align: center; }
  article h2 {
    position: relative; }
  article a {
    color: #555;
    text-decoration: none;
    word-wrap: break-word; }
  article h1, article h2, article h3, article h4, article h5, article h6 {
    margin: 20px 0 20px; }
  article p {
    font-size: 16px;
    line-height: 2; }
  article code {
    font-size: 14px; }
  article .article-inner {
    overflow: hidden; }
    article .article-inner header.index {
      margin-bottom: 10px; }
      article .article-inner header.index h1, article .article-inner header.index .article-meta {
        text-align: left; }
        article .article-inner header.index h1 a, article .article-inner header.index .article-meta a {
          color: #000; }
          article .article-inner header.index h1 a:hover, article .article-inner header.index .article-meta a:hover {
            color: #00b7ee; }
  article .article-header {
    margin: 5px 0 50px; }
  article .article-meta {
    margin: 0 auto;
    text-align: center;
    color: #999;
    font-size: 14px; }
    article .article-meta .article-category {
      display: inline; }
  article li {
    line-height: 2; }
  article .article-more-link .more-link {
    color: #555;
    border-bottom: 2px solid #666; }
    article .article-more-link .more-link:hover {
      color: #00b7ee;
      border-bottom: 2px solid #00b7ee; }
  article .post-excerpt {
    line-height: 1.5; }

#footer {
  position: absolute;
  width: 100%;
  margin-top: 50px;
  box-sizing: content-box;
  font-family: 'microsoft Yahei';
  background: #262a30;
  padding: 30px 0;
  color: #999;
  background-color: #f5f5f5;
  line-height: 5px; }
  #footer a {
    color: #999; }

#header {
  height: 70px;
  padding: 25px 0 20px 0;
  background-color: #f5f5f5; }
  #header .inner:before, #header .inner:after {
    content: " ";
    display: table; }
  #header .site-meta {
    float: left;
    font: 700 20px 'microsoft Yahei'; }
  #header .site-nav {
    float: right; }
  #header ul {
    list-style: none;
    margin: 0; }
    #header ul li {
      display: inline; }
  #header a {
    padding: 4px 10px;
    background: none;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    font-size: 14px;
    color: #999;
    transition-duration: 0.3s; }
    #header a:hover {
      background-color: #e1e1e1;
      color: #000; }

#mobile-nav {
  display: none; }

@media only screen and (min-width: 768px) {
  #header .inner, .outer, #footer .outer {
    margin: 0 auto;
    width: 760px; } }

@media only screen and (max-width: 768px) {
  #footer .outer {
    text-align: center;
    width: auto; } }

#drager {
  position: fixed;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10000;
  top: 1px;
  left: 1px;
  border-radius: 30%;
  padding: 6px;
  cursor: move; }

#drager .inner {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s; }

#drager .content {
  display: none; }

#drager.active {
  width: 100px;
  height: 100px;
  padding: 6px; }

#drager.active .inner {
  display: none; }

#drager.active .content {
  display: block; }

.article-entry pre,
.article-entry .highlight {
  background: #2d2d2d;
  margin: 0 -20px;
  padding: 15px 20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  overflow: auto;
  color: #ccc;
  line-height: 22.400000000000002px; }

.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em; }

.article-entry pre,
.article-entry code {
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace; }

.article-entry code {
  background: #eee;
  text-shadow: 0 1px #fff;
  padding: 0 0.3em; }

.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0; }

.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0; }

.article-entry .highlight table {
  margin: 0;
  width: auto; }

.article-entry .highlight td {
  border: none;
  padding: 0; }

.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: #999;
  line-height: 1em;
  margin-bottom: 1em; }

.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table; }

.article-entry .highlight figcaption:after {
  clear: both; }

.article-entry .highlight figcaption a {
  float: right; }

.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 20px;
  user-select: none; }

.article-entry .highlight .line {
  height: 22.400000000000002px; }

.article-entry .highlight .line.marked {
  background: #515151; }

.article-entry .gist {
  margin: 0 -20px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px 0;
  background: #2d2d2d;
  padding: 15px 20px 15px 0; }

.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  margin: 0; }

.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none; }

.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0; }

.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important; }

.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none; }

.article-entry .gist .gist-file .gist-meta {
  background: #2d2d2d;
  color: #999;
  font: 0.85em "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
  margin-left: 20px; }

.article-entry .gist .gist-file .gist-meta a {
  color: #258fb8;
  font-weight: normal; }

.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline; }

pre .comment,
pre .title {
  color: #999; }

pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a; }

pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157; }

pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9; }

pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9; }

pre .css .hexcolor {
  color: #6cc; }

pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c; }

pre .keyword,
pre .javascript .function {
  color: #c9c; }

body.dark {
  background: #333;
  color: #bbb; }
